# Pastas de compilação
/bin/
/out/

# Arquivos de configuração da IDE
*.class
*.jar
*.war
*.ear
*.iml

# Diretórios específicos da IDE
.idea/
*.ipr
*.iws
*.project
*.classpath
/.settings/
/target/
/build/

# Arquivos de log
*.log

# Arquivos do banco de dados SQLite
*.db
*.sqlite

# Arquivos de dependências
/lib/
